<nav class="navbar navbar-dark fixed-top" data-bs-theme="dark" style="background-color: rgb(170,0,255);  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://apnahostel-website--anujsrivastava9.repl.co/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      ApnaHostel</a>
    <div class="grid gap-2 md-flex justify-content-md-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="offcanvas offcanvas-end opacity-75" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img src="https://apnahostel-website--anujsrivastava9.repl.co/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hi, {{(admin['ad_name']).upper()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/SignIn/welcome/admin/{{admin.id}}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Add Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ad_slip">Pass Slip</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://monkeytype.com">Complaint</a></li>
              <li><a class="dropdown-item" href="https://google.com">Contact Us</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>