<!DOCTYPE html>
<html>
  <head>
    <title>
      ApnaHostel
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
      #banner2{
        height: 360px;
        width: 100%;
        object-fit: contain;
        margin-botton: 16px;
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    {% include 'nav.html' %}
    {% include 'images.html' %}
      <h1 class="text-center mt-4 mb-3">
        ApnaHostel
      </h1>
      
    
      <p class="lead mt-3 mb-4">
        Happiness is the most important thing in life. It is an emotion that can only be felt or lived. As human beings, we feel happy when we feel satisfied and content inside. I feel happiest when I play with friends in school and at home or go out with my parents on weekends. Family time makes me very happy. I feel happy when my mother hugs me before seeing me off to school. I feel happy when my father drops me at the bus stand before going to the office. I feel happy when we all sit together at the dinner table and share our day’s activities.
      </p>
      <h2 class="text-center mt-3 mb-4">
        What can we offer
      </h2>
      <img id="banner2" src="https://apnahostel-website--anujsrivastava9.repl.co/static/banner2.png" height="320px" >
      <h3 class="text-center mt-3 mb-4">
        Contact Us/Social Media
      </h3>
      <div class="text-center">
      <a href="mailto:anujsrivastava980@gmail.com?subject=Querry%20about%20ApnaHostel&body=My%20name%3A%20%3Center%20your%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20your%20question%3E" type="button" class="btn btn-primary btn-lg">Contact Us</a>
      
      </div>
      {% include 'footer.html' %}
  </body>
</html>