<!DOCTYPE html>
<html>
  <head>
    <title>
      ApnaHostel
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-3">
        ApnaHostel
      </h1>
      <img class="img-fluid" id="banner" src="https://apnahostel-website--anujsrivastava9.repl.co/static/banner.jpg">
      
      <h2 class="text-center">
        About Us
      </h2>
      <p class="lead mt-3 mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor faucibus est, nec aliquam tellus lobortis nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Mauris in dui sit amet lorem porttitor volutpat interdum faucibus lorem. Aenean tempus, diam nec dapibus auctor, leo ligula egestas tellus, non cursus purus orci sed felis. Integer id interdum quam. Vivamus non fermentum orci, eu pretium metus. Vestibulum tellus turpis, tristique a mauris a, maximus iaculis risus. Maecenas a hendrerit elit. Mauris sit amet purus sem. Quisque lobortis tempor massa quis porta. In auctor ut nisi et mollis. Phasellus fermentum pretium nunc.
      </p>
      <h2 class="text-center mt-3 mb-4">
        What can we offer
      </h2>
      <img id="banner" src="https://apnahostel-website--anujsrivastava9.repl.co/static/banner2.png" height="320px" >
      <h3 class="text-center mt-3 mb-4">
        Contact Us/Social Media
      </h3>
      <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, ApnaHostel</p>
      </div>
  </body>
</html>