<html>
  <head>
  {% include 'bootstrap.html' %}

  <style>
.container {
  height: 200px;
  position: relative;
  
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(50%, 50%);
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>
  {% include 'script.html' %}
   
<form action="/SignIn/welcome" method="post">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="grid">
      <div class="mb-2 row">
        <label>Email</label>
        <input type="text" name="email">
      </div>
      
      <div class="mb-2 row">
        <label>Password</label>
        <input type="text" name="pass">
      </div>
  
      </br>
      <div>
        <input type="submit">
      </div>
    </div>
  </div>
</form>


  {% include 'footer.html' %}
</body>
</html>